      <div id="display_gdl">

      </div>


      <div class="question_gdl">

      <span id="r_title" class="guidelines">
      Ceci est le titre de votre question. Résumez le ou les points principaux de votre question. Limité à 200 caractères.
      </span>

      <span id="r_tags" class="guidelines">
      Les tags sont des mots-clés decrivant la catégorie à laquelle appartient votre question, vous devez choisir au moins un tag parmi ceux existants ou en créer un. Exemple "problème indexation" ou "sitemaps" (sans les guillemets).
      </span>

      <span id="r_question" class="guidelines">
      Le corps de votre question. 
      </span>

      </div>
