      <div id="display_gdl">

      </div>


      <div class="question_gdl">

      <span id="r_title" class="guidelines">
      blabla guidelines title blabla guidelines titleblabla guidelines titleblabla guidelines titleblabla guidelines titleblabla guidelines titleblabla guidelines titleblabla guidelines titleblabla guidelines titleblabla guidelines titleblabla guidelines titleblabla guidelines title
      </span>

      <span id="r_tags">
blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags blabla guidelines tags 
      </span>

      <span id="r_question">
blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question blabla guidelines question 
      </span>

      </div>
