      <div id="display_gdl">

      </div>


      <div class="question_gdl">

      <span id="r_title" class="guidelines">
      Ceci est le titre de votre question. Résumez le ou les points principaux de votre question. Limité à 200 caractères.
      </span>

      <span id="r_tags" class="guidelines">
      <p>Les tags sont des mots-clés decrivant la catégorie à laquelle appartient votre question, vous devez ajouter au moins un tag à votre question:<p/> <p>Rentrez votre tag dans le champ Tags et sélectionnez un tag existant parmi les suggestions ou cliquez sur Aouter si il n'y a pas de suggestions.<p/> <p> Vous pouvez choisir jusqu'à trois tags.<p/>
 Exemple "problème indexation" ou "sitemaps" (sans les guillemets).
      </span>

      <span id="r_question" class="guidelines">
      Le corps de votre question. Vous pouvez utiliser un raccourcisseur d'url tel que <a href="http://bit.ly/" style="color:gray;">bit.ly</a> si vous voulez que la question ne mentionne pas directement votre site.
      </span>

      </div>
