%div
  Résultat de la recherche pour: 
  <b>
  = params[:search]
  </b>
  

.results
  - if !@results.empty?
    =render :partial => "searchresults" , :collection => @results
  - else
    Pas de résultats.

=will_paginate @results
