.header
  Poster une question:





=form_for @question do |f|
  %div
    Titre:
  %div
    =f.text_field :title, :class => "question_form_field"
  <br/>
  %div
    Tags:
  .tags

  %input{:id => "tags_box", :class => "question_form_field", :name => "tags[box]"}
    <a href="#" id="add_link">Ajouter</a>
    <input type="hidden" id="question_tag1" name="tag1" value="" />
    <input type="hidden" id="question_tag2" name="tag2" value="" />
    <input type="hidden" id="question_tag3" name="tag3" value="" />


  .reset_tags
    <a href="#" class="reset_tags">Reset</a>

  <br/>

  %div
    Question:
  %div
    =f.text_area :body, :class => "question_form_field", :class => "mceEditor"

 
  %div{:id => "question_submit"}
    =submit_tag "OK", :class => "submit_button"


-content_for :rightbar do
  = render "rightbar"

<!-- TinyMCE -->
<script type="text/javascript" src="/javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
mode : "textareas",
theme : "advanced",
theme_advanced_buttons1 : "bold,italic,link,unlink,bullist,blockquote,undo", 
theme_advanced_buttons2 : "", 
theme_advanced_buttons3 : "" 
});
</script>
<!-- /TinyMCE -->

