body {
  background: #fffafa;
  font-family: "Droid Sans", Helvetica, Arial, "Liberation Sans", "DejaVu Sans", sans;
  margin: 0px; }

.topline {
  height: 20px;
  margin-bottom: 5px;
  background: #dcdcdc;
  padding: 2px 0 1px 0; }

.topline a {
  color: #14273b; }

.logo {
  margin-top: 12px; }

.main {
  min-height: 800px; }

.mainleft {
  margin-top: 30px; }

.rightbar {
  padding-top: 25px; }

.topright {
  text-align: right; }
  .topright a:visited {
    color: #222235; }
  .topright a {
    color: #222235; }

.bottomline {
  background: #dcdcdc;
  height: 20px;
  margin-top: 100px;
  text-align: center;
  padding-top: 10px;
  font-size: 60%; }

.formats {
  margin: 15px 0 0 0;
  padding: 0; }
  .formats li {
    list-style: none; }
  .formats li a {
    display: inline-block; }
  .formats a {
    outline: none;
    display: block;
    margin: 0 1px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #83c704), color-stop(0.58, #62920a));
    background: -moz-linear-gradient(center bottom, #83c704 0%, #62920a 58%);
    -moz-box-shadow: 2px 2px 2px #888888;
    -webkit-box-shadow: 2px 2px 2px #888888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: white;
    text-decoration: none; }
  .formats a:hover {
    text-decoration: none;
    background: #214263; }

.formats_ie {
  margin: 15px 0 0 0;
  padding: 0; }
  .formats_ie li {
    list-style: none; }
  .formats_ie li a {
    display: inline-block; }
  .formats_ie a {
    background: #62920a;
    outline: none;
    display: block;
    margin: 0 1px;
    padding: 5px 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: white;
    text-decoration: none; }
  .formats_ie a:hover {
    text-decoration: none;
    background: #214263; }

#logo {
  padding-top: 3px; }

#question_title {
  width: 600px;
  height: 20px; }

#question_body {
  width: 600px;
  height: 200px; }

#tags_box {
  width: 100px;
  height: 20px; }

.question_form_field {
  border-bottom: 1px solid #dddddd;
  border-left: 2px solid #cccccc;
  border-right: 1px solid #dddddd;
  border-top: 2px solid #cccccc; }

.question_validate_title {
  width: 600px;
  height: 20px;
  border: 1px dotted red; }

.question_validate_body {
  width: 600px;
  height: 80px;
  border: 1px dotted red; }

.tags_validate {
  border: 1px dotted red; }

.header {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px; }

.tags {
  display: inline; }

.selected_tags {
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  color: #777777;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 8px;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px; }

.question_tags a {
  text-decoration: none; }

.selected_tags:hover {
  background-color: #214263;
  color: white; }

.label {
  font-weight: bold; }

.reset_tags {
  font-size: 80%;
  color: #ff6600; }

.question_title {
  font-size: 24px; }

#add_link {
  color: #ff6600; }

#preview_question {
  width: 600px;
  height: 80px;
  border-bottom: 1px solid #dddddd;
  border-left: 2px solid #cccccc;
  border-right: 1px solid #dddddd;
  border-top: 2px solid #cccccc;
  overflow: auto; }

.question_gdl {
  display: none; }

#tags_index {
  margin-top: 30px; }

#left_container_home {
  padding-top: 15px; }

.home_menu_left_header {
  width: 435px;
  float: left;
  border-bottom: 1px solid black;
  padding: 4px 10px 0 0; }

.home_menu_active {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  display: inline-block;
  float: left;
  padding: 4px 10px 0 10px;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0; }
  .home_menu_active a {
    color: black;
    text-decoration: none; }

.home_menu_inactive {
  display: inline-block;
  float: left;
  border-bottom: 1px solid black;
  padding: 4px 10px 0 10px; }
  .home_menu_inactive a {
    color: black;
    text-decoration: none; }

.tab_spacer {
  border-bottom: 1px solid black;
  display: inline-block;
  float: left;
  padding: 4px 4px 0 4px; }

.question_header {
  font-size: 17px;
  color: #14273b;
  font-weight: bold;
  margin-bottom: 10px; }
  .question_header a:visited {
    color: #214263; }
  .question_header a {
    color: #214263; }

.question_home {
  border-bottom: 1px dotted #dddddd;
  margin-bottom: 10px;
  padding-bottom: 5px; }

.question_tags {
  display: inline; }

.counts {
  display: inline; }

.votes, .status, .views {
  border: 1px solid #cccccc;
  float: left;
  font-size: 11px;
  height: 42px;
  margin: 0px 6px 0px 0px;
  padding: 8px 2px 0px;
  text-align: center;
  width: 46px;
  background: white;
  -moz-box-shadow: 2px 2px 2px #888888;
  -webkit-box-shadow: 2px 2px 2px #888888; }

.item-count {
  color: #666666;
  font-size: 17px;
  font-weight: bold; }

.unanswered {
  background: #f3e3e1 none repeat scroll 0px 0px;
  color: #6b2b28; }

.answered {
  background: #e5ebf8 none repeat scroll 0px 0px;
  color: #314362; }

.answered-accepted {
  background: #e6f8dd none repeat scroll 0px 0px;
  color: #3a6231; }

.userheadline {
  float: right;
  color: #666666;
  font-size: 11px;
  padding-top: 8px; }

.user_stats_top {
  color: #666666;
  font-size: 11px; }

.badge_gold {
  color: #cc9933; }

.badges {
  outline: none;
  display: inline;
  padding: 3px 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background: #214263;
  text-align: center;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  float: left; }

.badges_index {
  margin-top: 25px;
  background: #f5f5dc;
  padding: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px; }
  .badges_index a {
    text-decoration: none; }

.user_page {
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  background: #f5f5dc;
  padding: 0 10px 10px 10px;
  margin-top: 25px; }

.question_page {
  margin-top: 30px; }

.question_title {
  color: #444444;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #444444;
  padding-bottom: 5px; }

.question_body {
  color: #222222;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 20px; }
  .question_body a {
    color: #214263; }

.modify_link {
  color: #214263;
  font-size: 80%; }

.tags_right_header {
  color: #444444;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 40px; }

#answer_body {
  width: 600px;
  height: 80px;
  border: 1px solid lightgray; }

.answer_form {
  margin-top: 40px; }

.question {
  margin-bottom: 20px;
  margin-top: 20px; }

.answer {
  margin-bottom: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #444444;
  padding-bottom: 0px;
  font-size: 15px; }

.has_no_answers {
  border-bottom: 1px solid #444444; }

.answer_count {
  color: #444444;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #444444; }

.answer_votes {
  float: left;
  width: 25px;
  text-align: center; }

.answer_votes_score {
  color: #777777;
  font-weight: bold;
  font-size: 115%;
  padding-bottom: 3px;
  height: 17px; }

.reply_link {
  float: right;
  display: inline-block;
  margin-bottom: 2px;
  font-size: 85%;
  color: gray; }

.reply_box_hidden {
  display: none; }

.hidden {
  display: none; }

.replies {
  padding-bottom: 3px; }

.reply_body {
  width: 100%;
  height: 50px;
  border: 1px solid lightgray; }

.reply {
  padding-top: 5px;
  border-top: 1px dotted #444444;
  margin-bottom: 5px;
  font-size: 12px; }

.replier {
  color: #666666;
  font-size: 11px;
  float: right; }

.answer_form_validate {
  border: 1px dotted red; }

.solved_link {
  float: left;
  font-size: 80%;
  color: #214263;
  margin-top: 15px; }
  .solved_link a {
    color: #214263; }

.reply_link a {
  color: black; }

.edit_link {
  font-size: 80%; }
  .edit_link a {
    color: #214263; }

.solved {
  float: left; }

.stats_wrapper {
  margin-bottom: 5px; }

.avatar {
  float: left;
  margin-right: 10px; }

.stats_wrapper_bottom_right {
  float: left; }

.edit_link {
  font-style: italic;
  font-size: 75%; }

.date_posted {
  font-size: 12px; }

.user_stats {
  font-size: 12px;
  padding-top: 3px;
  margin-top: 10px; }
  .user_stats a {
    color: #214263; }

.user_stats_index {
  font-size: 12px;
  padding-top: 3px;
  margin-top: 20px;
  float: left;
  margin-right: 20px; }
  .user_stats_index a {
    color: #214263; }

.question_votes_score {
  color: #777777;
  font-weight: bold;
  padding-bottom: 3px;
  height: 17px;
  text-align: center;
  padding-right: 5px; }

.question_left {
  margin-top: 10px; }

.vote_up {
  background: url(/images/vote-arrow-up.png) no-repeat;
  display: block;
  height: 27px;
  width: 25px; }

.vote_up:hover {
  background: url(/images/vote-arrow-up-on.png) no-repeat;
  display: block;
  height: 27px;
  width: 25px; }

.vote_down {
  background: url(/images/vote-arrow-down.png) no-repeat;
  display: block;
  height: 27px;
  width: 25px; }

.vote_down:hover {
  background: url(/images/vote-arrow-down-on.png) no-repeat;
  display: block;
  height: 27px;
  width: 25px; }

.user_stats_left {
  float: left; }

.user_stats_right {
  float: left; }

.user_stats_top {
  margin-bottom: 3px; }

.user_stats_right {
  margin-left: 3px; }

.user_stats_right_top {
  margin-bottom: 3px; }

.karma {
  font-weight: bold;
  float: left;
  margin-right: 3px; }

.error_notification {
  -webkit-box-shadow: black 2px 2px 5px;
  -moz-box-shadow: black 2px 2px 5px;
  cursor: pointer;
  padding: 15px;
  position: absolute;
  z-index: 1;
  background-color: #ff6600;
  color: white; }

.error_notif_small {
  font-size: 70%; }

.medals {
  display: inline; }

.badgeicon {
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  display: inline-block;
  height: 5px;
  margin-bottom: 2px;
  width: 5px; }

.badgeicon.bronze {
  background: #e1a970; }

.badgeicon.silver {
  background: silver; }

.badgeicon.gold {
  background: #ffcc00; }

#spinner {
  bottom: 35px;
  margin: 0px;
  position: fixed;
  left: 30px; }

.user_details_wrapper_right {
  background-color: #eeeeee;
  line-height: 20px;
  padding: 10px;
  margin-top: 10px;
  word-wrap: break-word; }
  .user_details_wrapper_right a {
    color: #214263; }

.user_details_wrapper_left {
  line-height: 20px;
  padding: 10px;
  background: #f5f5dc;
  margin-top: 10px; }
  .user_details_wrapper_left a {
    color: #214263;
    font-size: 80%; }

.bio_modif {
  color: #214263;
  font-size: 80%; }

.user_questions {
  margin-top: 10px;
  padding: 10px; }
  .user_questions a:visited {
    color: #214263; }
  .user_questions a {
    color: #214263; }

.user_questions_links {
  margin-top: 10px; }

.user_answers {
  margin-top: 10px;
  padding: 10px; }
  .user_answers a:visited {
    color: #214263; }
  .user_answers a {
    color: #214263; }

.user_page_tags {
  margin-top: 10px;
  padding: 10px; }

.user_badges {
  margin-top: 10px;
  padding: 10px; }

.user_votes {
  padding: 10px; }

.bio_votes {
  float: left;
  margin-right: 5px; }

.bio_votes_count {
  float: left;
  margin-right: 5px;
  margin-top: 3px; }

.bio_votes_wrapper {
  margin-top: 10px; }

.bio_tags {
  margin-top: 10px; }

.tags_wrapper {
  float: left;
  margin-right: 10px; }

.user_tags {
  padding: 10px;
  margin: 10px 0 20px 0;
  background: #f5f5dc;
  position: relative;
  -webkit-border-radius: 10px 0 10px 10px;
  -moz-border-radius: 10px 0 10px 10px;
  overflow: hidden; }

.badge_desc {
  float: left;
  margin-left: 5px;
  margin-top: 2px; }

.tags_count_value {
  margin-top: 1px;
  float: left; }

.user_tags:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #d3d3d3 #fffafa;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  width: 0; }

.user_tags a {
  text-decoration: none;
  color: #777777; }

.user_tags a:hover {
  color: white; }

.favorite {
  background: url(/images/vote-favorite-off.png) no-repeat;
  display: block;
  height: 27px;
  width: 25px; }

.favorite:hover {
  background: url(/images/vote-favorite-on.png) no-repeat;
  display: block;
  height: 27px;
  width: 25px; }

.favorite-on {
  background: url(/images/vote-favorite-on.png) no-repeat;
  display: block;
  height: 27px;
  width: 25px; }

.recent_badges {
  padding: 15px 10px 10px 10px;
  background: #f5f5dc;
  margin: 20px 0;
  position: relative;
  -webkit-border-radius: 10px 0 10px 10px;
  -moz-border-radius: 10px 0 10px 10px;
  overflow: hidden; }
  .recent_badges a {
    font-size: 12px;
    text-decoration: none; }
  .recent_badges a:visited {
    color: #14273b; }

.recent_badges:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #d3d3d3 #fffafa;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  width: 0; }

.intro {
  padding: 10px;
  margin: 20px 0 20px 0;
  background: #e5e5e5;
  position: relative;
  -webkit-border-radius: 10px 0 10px 10px;
  -moz-border-radius: 10px 0 10px 10px;
  overflow: hidden; }
  .intro a {
    color: #214263; }

.intro:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #d3d3d3 #fffafa;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  width: 0; }

.tags_and_count {
  display: inline-block;
  width: 230px;
  margin: 10px 0px 5px 0px;
  height: 30px; }

.user_badge_count {
  float: left;
  margin-left: 10px;
  padding-top: 4px;
  color: #777777;
  font-weight: bold;
  font-size: 115%; }

.users_index {
  margin: 20px 0 0 0; }

.user_stats_user {
  font-size: 12px;
  padding-top: 3px;
  margin: 10px 40px 0 0;
  float: left; }

#users_search {
  margin-top: 40px; }

.pagination {
  margin-top: 70px; }
  .pagination a {
    border: 1px solid #cccccc;
    text-decoration: none;
    padding: 2px;
    color: #214263; }
  .pagination a:hover {
    color: white;
    background-color: #214263; }
  .pagination a:visited {
    color: #214263; }

.ajax_pagination {
  margin-top: 20px; }
  .ajax_pagination a {
    border: 1px solid #cccccc;
    text-decoration: none;
    padding: 2px;
    color: #214263; }
  .ajax_pagination a:hover {
    color: white;
    background-color: #214263; }
  .ajax_pagination a:visited {
    color: #214263; }

.similars {
  background: #f5f5dc;
  padding: 10px;
  position: relative;
  word-wrap: break-word;
  overflow: hidden; }
  .similars a:visited {
    color: #214263; }
  .similars a {
    color: #214263;
    text-decoration: none; }

.similars:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #d3d3d3 #fffafa;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  width: 0; }

.global_search {
  margin-top: 30px;
  padding: 10px;
  background: #e8f1de;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid lightgray; }

.my_favorites {
  margin-top: 45px;
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
  background: #dcdcdc; }
  .my_favorites a {
    color: #214263; }

.results {
  margin-top: 30px; }

#search {
  background: url(/images/search-icon.png) no-repeat scroll 0 50% white;
  padding-left: 15px;
  border: 1px solid gray; }

.social_icons {
  padding: 10px; }
  .social_icons img {
    padding-right: 10px; }

.tags_page {
  background: #f5f5dc;
  padding: 0px 0px 20px 10px;
  margin-top: 25px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px; }

.selected_tags_page {
  background-color: #eeeeee;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  color: #777777;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 8px;
  text-decoration: none;
  white-space: nowrap;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px; }

.selected_tags_page:hover {
  background-color: #214263;
  color: white; }

.similar {
  border-bottom: 1px dotted #dddddd;
  padding: 5px 0px 5px 0px;
  font-size: 85%; }

.q_stats {
  color: #214263; }

.user_karma {
  color: #214263;
  font-size: 130%; }

.user_time {
  color: #214263; }

.user_form_field {
  float: right;
  width: 200px; }

.label {
  float: left;
  margin-top: 5px;
  font-weight: normal; }

.bio_headlines {
  color: #444444;
  font-size: 20px;
  font-weight: bold; }

.user_badge_counts {
  float: left;
  margin-left: 5px;
  margin-top: 2px; }

.user_badges_each {
  margin: 5px 0px 5px 0px; }

.recent_users {
  padding: 10px; }

#display_gdl {
  padding: 10px;
  margin-top: 10px;
  color: #62920a; }

.reply_user_link a {
  color: #214263;
  text-decoration: none;
  float: left;
  margin-left: 10px; }

.reply_text {
  float: left; }

.error {
  color: red;
  font-style: italic;
  font-size: 80%; }

.simple_submit {
  margin: 10px 0 10px 0; }

.please_login_link {
  margin-top: 20px; }
  .please_login_link a {
    color: #214263; }

.tags_result {
  margin-bottom: 20px; }

.tags_result_header {
  float: left;
  padding-top: 2px;
  margin-right: 10px; }

ol li {
  margin-left: 20px;
  list-style: decimal; }

ul li {
  margin-left: 20px;
  list-style: disc; }

blockquote {
  margin-bottom: 10px;
  padding: 10px 10px 1px 10px;
  background-color: #eeeeee; }

p {
  clear: both;
  margin-bottom: 1em;
  word-wrap: break-word; }

.form_label {
  float: left;
  width: 100px;
  padding-top: 3px; }

#session_password, #session_name {
  width: 150px; }

.local_account {
  padding: 10px;
  margin-top: 30px; }

.new_user_link {
  padding: 10px; }
  .new_user_link a {
    color: #214263; }

.flash {
  color: red;
  padding: 10px;
  font-size: 80%; }

.create_user_form_field {
  width: 150px; }

.form_label2 {
  float: left;
  width: 205px;
  padding-top: 3px; }

.social_buttons {
  padding: 10px 0 0 45px;
  border: 1px solid lightgray;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  margin-bottom: 15px;
  background: #e5e5e5; }

.fb {
  float: left;
  width: 75px; }

.tw {
  float: left; }

.social_buttons2 {
  padding: 10px 0 0 10px;
  border: 1px solid lightgray;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  margin-top: 15px;
  margin-bottom: 15px; }

.social_header {
  color: gray;
  padding-bottom: 5px; }

.home_side_headers {
  color: gray; }

.session_new_wrapper {
  background: #f5f5dc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 25px; }

.new_user_wrapper {
  background: #f5f5dc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 25px;
  padding: 10px; }

.new_question_wrapper {
  background: #f5f5dc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 25px;
  padding: 10px; }

.badges_show_wrapper {
  background: #f5f5dc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 25px;
  padding: 10px; }

.user_edit {
  background: #f5f5dc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 25px;
  padding: 10px; }
  .user_edit a {
    color: #214263; }

.new_question_hdr {
  font-size: 130%;
  margin-bottom: 20px; }

.custom_submit_bttn {
  background: gray;
  color: white;
  border: 1px solid gray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px 5px;
  margin-top: 10px; }

.custom_submit_bttn:hover {
  border: 1px solid #fffafa; }

.user_form_field_bio {
  height: 100px;
  width: 200px;
  float: right; }

#error_container {
  padding: 10px 0 10px 0; }

.guidelines {
  color: gray; }

#cancel_answer_edit {
  color: #214263;
  font-size: 75%;
  font-style: italic; }

.faq {
  background: #f5f5dc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin-top: 25px;
  padding: 10px; }

.faqlist {
  margin-top: 15px; }
  .faqlist li {
    padding: 5px 0 5px 0; }

.faq_ans {
  background: #fffafa;
  padding: 5px;
  margin-top: 5px; }

.login_link {
  float: right;
  margin-left: 10px; }
