.faq
  .bio_headlines
    F.A.Q.
  %ul{:class => "faqlist"}
    %li 
      C'est quoi ce site?
      .faq_ans
        C'est un site de questions réponses (Q&A) consacré au référencement.
    %li 
      Quel type de questions je peux poser?
      .faq_ans
        Toute question ayant trait aux moteurs de recherche et au search marketing en général.
    %li 
      Comment fonctionne le système de réputation?
      .faq_ans
        A chaque fois que quelqu'un vote sur une de vos contributions (question ou réponse) vous recevez des points. Si c'est un vote positif vous gagnez 10 points, si c'est un vote négatif vous perdez 5 points. Si votre réponse est acceptée par l'auteur de la question vous gagnez 30 points.
    %li 
      Comment le site gère il les liens?
      .faq_ans
        Tous les liens dans les questions et réponses sont en nofollow. Le nofollow sur le lien de votre page de profil est enlevé automatiquement au dessus d'un certain seuil de réputation.
    %li 
      Comment est ce que je peux modifier l'image associée à mon compte?
      .faq_ans
        Depuis la page de votre profil.
