.faq
  .bio_headlines
    F.A.Q.
  %ul{:class => "faqlist"}
    %li 
      C'est quoi ce site?
      .faq_ans
        C'est un site de questions réponses (Q&A) consacré au référencement.
    %li 
      C'est quoi la différence avec les forums SEO qui existent?
      .faq_ans
        Il y en a plusieurs. La principale est que SEOFlow n'est pas un site de discussions. 2bcontinued
