.answer_form

  =flash.now[:error]

  =form_for @answer , :as => :answer , :url => answers_path do |f|
    
    -if @answer.errors.any?
      .header
        -@answer.errors.full_messages.each do |msg|  
          %li
            =msg  

    %div Réponse:

    %div
      =f.text_area :body




    %input{:id => "answer_question_id",
      :name => "answer[question_id]",
      :type => "hidden",
      :value => "#{question_id}"}

    =submit_tag "Valider", :class => "custom_submit_bttn", :id => "answer_submit_button"

  




<script type="text/javascript">
CKEDITOR.replace( 'answer[body]',
{
toolbar : 'Basic',
uiColor : '#F5F5DC',
height:"150", width:"600" 
});
</script>


