.answer_form

  =flash.now[:error]

  =form_for @answer , :as => :answer , :url => answers_path , :remote => true  do |f|
    
    -if @answer.errors.any?
      .header
        -@answer.errors.full_messages.each do |msg|  
          %li
            =msg  

    %div Réponse:

    %div
      =f.text_area :body, :class => "mceEditor"




    %input{:id => "answer_question_id",
      :name => "answer[question_id]",
      :type => "hidden",
      :value => "#{question_id}"}

    =submit_tag "OK", :class =>"simple_submit"

  




<!-- TinyMCE -->
<script type="text/javascript" src="/javascripts/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
mode : "textareas",
theme : "advanced",
theme_advanced_buttons1 : "bold,italic,link,unlink,bullist,blockquote,undo", 
theme_advanced_buttons2 : "", 
theme_advanced_buttons3 : "",
editor_selector :"mceEditor"
});
</script>
<!-- /TinyMCE -->
