.answer_form

  =flash.now[:error]

  =form_for @answer , :as => :answer , :url => answers_path , :remote => true  do |f|
    
    -if @answer.errors.any?
      .header
        -@answer.errors.full_messages.each do |msg|  
          %li
            =msg  

    %div Réponse:

    %div
      =f.text_area :body




    %input{:id => "answer_question_id",
      :name => "answer[question_id]",
      :type => "hidden",
      :value => "#{question_id}"}

    =submit_tag "Valider", :class => "custom_submit_bttn"

  




<script type="text/javascript">
CKEDITOR.replace( 'answer[body]',
{
toolbar : 'Basic',
uiColor : '#F5F5DC',
height:"150", width:"600" 
});
</script>

<script type="text/javascript">
for(var name in CKEDITOR.instances) {
CKEDITOR.instances[name].on("instanceReady", function() {
this.document.on("keyup", updateValue);
this.document.on("paste", updateValue);     
}); 

function updateValue() {
CKEDITOR.instances[name].updateElement(); 
$('#answer_body').trigger('keyup');
}
}
</script>
