.answer_form

  =flash.now[:error]

  =form_for @answer , :as => :answer , :url => answers_path , :remote => true  do |f|
    
    -if @answer.errors.any?
      .header
        -@answer.errors.full_messages.each do |msg|  
          %li
            =msg  

    %div Réponse:

    %div
      =f.text_area :body

    %div
    Prévisualiser:

    %div{:class => "wmd-preview", :id => "preview_question"}




    %input{:id => "answer_question_id",
      :name => "answer[question_id]",
      :type => "hidden",
      :value => "#{question_id}"}

    =submit_tag "Valider", :class => "custom_submit_bttn"

  




<script type="text/javascript">
wmd_options = {
buttons: "bold italic | link blockquote | ol ul",
};
</script>
%script{:type => "text/javascript", :src => "/javascripts/wmd-1.0.1/wmd/wmd.js"}
