$('#tags_index').hide(0);
$('#tags_index').empty();
$('#tags_index').append('<% @tags.each do |tag,count| %><div class="tags_and_count"><a href="/?tag=<%=tag%>"><div class="selected_tags_page" id="tag"><%= tag %></div></a><%= count %></div><% end %>');
$('#tags_index').fadeIn(1000);

