$('#tags_index').hide(0);//fghfg
$('#tags_index').empty();
$('#tags_index').append('<% @tags.each do |tag,count| %><div class="tags_and_count"><%= tag %><%= count %></div><% end %>');
$('#tags_index').fadeIn(1000);

