.user_page
  .user_search
    Rechercher un membre:
    %input#users_search

  .users_index

    =render :partial => "user/users2" , :collection => @users, :as => :user

  .clear

=will_paginate @users


-content_for :rightbar do 
  .intro
    %span{:class =>"home_side_headers"}Les membres sont classés par points de réputation. Utilisez la boîte de recherche pour rechercher un utilisateur.
