<<<<<<< HEAD
.new_user_wrapper
  -form_for @user , :url => { :action => "create" } do |f|

    .form_wrapper
      .form_label2
        =f.label 'Identifiant'
      .form_field
        =f.text_field :name, :class => "create_user_form_field"
      .form_label2
        =f.label 'Mot de passe' 
      .form_field
        =f.password_field :password , :class => "create_user_form_field"
      .form_label2
        =f.label 'Confirmer le mot de passe' 
      .form_field
        =f.password_field :password_confirmation , :class => "create_user_form_field"

    = f.submit "OK", :class => "submit_button"
=======
-form_for @user , :url => { :action => "create" } do |f|

  .form_wrapper
    .form_label2
      =f.label 'Identifiant'
    .form_field
      =f.text_field :name, :class => "create_user_form_field"
    .form_label2
      =f.label 'Mot de passe' 
    .form_field
      =f.password_field :password , :class => "create_user_form_field"
    .form_label2
      =f.label 'Confirmer le mot de passe' 
    .form_field
      =f.password_field :password_confirmation , :class => "create_user_form_field"

  = f.submit "OK"
>>>>>>> 27030f05a1d66049283945d1af22a649a73781e4


 



