.new_user_wrapper

  -form_for @user , :url => { :action => "create" } do |f|

    .form_wrapper
      .form_label2
        =f.label 'Identifiant'
      .form_field
        =f.text_field :name, :class => "create_user_form_field"
      .form_label2
        =f.label 'Mot de passe' 
      .form_field
        =f.password_field :password , :class => "create_user_form_field"
      .form_label2
        =f.label 'Confirmer le mot de passe' 
      .form_field
        =f.password_field :password_confirmation , :class => "create_user_form_field"

    = f.submit "Valider", :class => "custom_submit_bttn"


 



