<!DOCTYPE html>
%html
  %head
    %title 
      =truncate(@title, :length => 70) || "SEOFlow | Questions & Réponses sur le référencement"
    %meta{:name => "Description", :content => truncate(strip_tags(@desc), :length => 170) || "SEO Flow est un site de questions réponses dédié à la thématique du référencement/SEO."}
    %meta{:name => "ROBOTS", :content => @robots || "NOINDEX,FOLLOW"}
    - if @canonical
      = raw @canonical


    =stylesheet_link_tag("960_24")
    =stylesheet_link_tag("jquery-ui-1.8.5.custom")
    =stylesheet_link_tag("notifyBar")
    =stylesheet_link_tag("reset")
    =stylesheet_link_tag("styles")
    =stylesheet_link_tag("tipTip")
    =javascript_include_tag  "jquery-1.4.4.min.js"
    =javascript_include_tag  "jquery-ui-1.8.5.custom.min.js" 
    =javascript_include_tag "rails.js" 
    =javascript_include_tag "application.js" 
    =javascript_include_tag "typewatch.js" 
    =javascript_include_tag "jquery.validate.min.js" 
    =javascript_include_tag "notifyBar.js" 
    =javascript_include_tag "jquery.tipTip.minified.js"
    =javascript_include_tag "ckeditor/ckeditor.js"
    =csrf_meta_tag
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
    <meta name="google-site-verification" content="cM9QJRhVf1AE8a7C9aa0_xZfx_v6gasBDgiTb3cRH-M" />

  %body
    .topline
      .container_24
        .grid_24.topright
          -if @current_user_login
            Identifié en tant que 
            =link_to @current_user_login, "/user/"+session[:id].to_s+"-"+session[:login]
            =link_to "Se déconnecter" , session_path , :method => :delete
          -else
            =link_to image_tag("sign-in-with-twitter-l.png"), "/auth/twitter"
            .login_link
              =link_to "Connexion" , new_session_path 
      .clear

    .container_24
      .grid_18
        .grid_6.alpha
          .logo
            =link_to image_tag("logo.png"),root_url
        .grid_12.omega
          %ul.formats 
            %li
              =link_to "Questions" , root_url
              =link_to "Tags" , tags_path 
              =link_to "Badges" , badges_path 
              =link_to "Membres" , :controller => "user", :action => "index" 
      .grid_6
        %ul.formats
          %li
            =link_to "Poser une question" , new_question_path 
      .clear


    .container_24.main
      .grid_24
        .grid_18.alpha.mainleft
          =yield
        .grid_6.omega.rightbar
          .global_search
            %span{:class => "home_side_headers"}
              Rechercher:
            =form_tag questions_path, :method => 'get' do 
              = text_field_tag :search, params[:search] 
            .clear
          =yield :rightbar 
      .clear





    -if !session[:id] && !session[:first]
      =render :partial => "home/notify2.js.erb", :locals => {:message => "Bienvenue sur SEOFlow"}
      -session[:first] = true 
    
    #spinner
      = image_tag "ajax-loader.gif"

    .clear
    .bottomline
      evil footer


    <script type="text/javascript">
    var uservoiceOptions = {
    /* required */
    key: 'seoflow',
    host: 'seoflow.uservoice.com', 
    forum: '97293',
    showTab: true,  
    /* optional */
    alignment: 'left',
    background_color:'#62920A', 
    text_color: 'white',
    hover_color: '#214263',
    lang: 'fr'
    };

    function _loadUserVoice() {
    var s = document.createElement('script');
    s.setAttribute('type', 'text/javascript');
    s.setAttribute('src', ("https:" == document.location.protocol ? "https://" : "http://") +   "cdn.uservoice.com/javascripts/widgets/tab.js");
    document.getElementsByTagName('head')[0].appendChild(s);
    }
    _loadSuper = window.onload;
    window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
    </script>


    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-4676001-6']);
    _gaq.push(['_trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>


